<div id="<%= dom_id tender %>">
  <p class="my-5 text-3xl">
    <%= "RFQ #{tender.rfq_id}" %>
  </p>

  <p class="mt-5">
    <strong class="block font-medium mb-1"> <%= tender.name %> </strong>
  </p>
  
  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-sky-600 bg-sky-200 uppercase last:mr-0 mr-1">
    <%= tender.status %>
  </span>

  <% if action_name != "show" %>
    <%= link_to "Show this tender", tender, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this tender', edit_tender_path(tender), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
