<div id="<%= dom_id tender %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= tender.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rfq:</strong>
    <%= tender.rfq_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= tender.status %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this tender", tender, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this tender', edit_tender_path(tender), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
