<div id="<%= dom_id company %>">
  
  <p class="mt-5 text-3xl">
    <%= company.name %>
  </p>
  
  <p class="mt-1 mb-5">
    <%= company.description %>
  </p>
  
  <% if action_name != "show" %>
    <%= link_to "Show this company", company, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this company', edit_company_path(company), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
