<div id="<%= dom_id offer %>">
  
  <p class="mt-5 text-3xl">
    <%= "RFQ #{offer.tender&.rfq_id}" %>
  </p>
  
  <p class="mt-1 flex">
    <strong class="block font-medium mb-1 mr-2 text-sm">Price:</strong>
    <%= offer.price %>
  </p>
  
  <p class="mt-1 flex">
    <strong class="block font-medium mb-1 mr-2 text-sm">Presented at:</strong>
    <%= offer.presented_at %>
  </p>
  
  <span class="text-xs font-semibold inline-block mt-1 py-1 px-2 uppercase rounded text-white bg-<%= offer.alertColor %>-600 uppercase last:mr-0 mr-1">
    <%= offer.status %>
  </span>
  
  
  <p class="my-5 flex">
    <strong class="block font-bold mb-1 text-gray-400 underline">Proposal Link</strong>
    <% offer.proposal.each_with_index do |proposal, index| %>
      <div><%= link_to "Proposal_(#{index})", proposal %></div>
    <% end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this offer", offer, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this offer', edit_offer_path(offer), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
